body{background-color: rgb(148, 176, 245);
color: rgb(4, 4, 109);}
h1 {
    text-align: center;
    font-size: 1.6rem;
    padding: 18px;
}

h2 {
    text-align: center;
    font-size: large;
    padding: 15px;
}

textarea {
    border: none;
    max-height: 1.8rem;
    text-align: center;
}

ol {
    line-height: 0;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    font-size: 20px;
    max-width: 800px;
    padding: 30px 40px;
}
li {
    line-height: 1.2rem;
    padding: 8px;
    width: 90%;
    resize: none;
    max-height: 0%;
    white-space: pre-wrap;
    margin: auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-body {
    min-height: 100px;
}

.card-footer,
.scoreboard-footer {
    text-align: center;
}

#currentscore {
    resize: none;
    width: 100%;
}

.btn {
    border: none;
    background-color: rgb(8, 30, 175);
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 123, 255);
}

.answer {
    display: none;
}

#question {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }

    #question {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}